# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
pack

# production
dist

# misc
.DS_Store
.vscode
.idea
.DS_Store

# sst build output
.build
.sst

# environments
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json